header{
    text-align:center;
}

body{
    background-color: dark grey;
    font-family:arial,Helvetica, sans-serif;
    }




#ps-Title{
    text-align:center;
    font-size: 12px;
    
}

#ps-Name{
    text-align:center;
    font-size:12px;
}

#ps-date{
    text-align:center;
    font-size:12px;
}


#ps-submit{
    background-color: blue;
   font-size:white;
}